@font-face {
	font-family: Teko;
	src: url(https://fonts.google.com/specimen/Teko?preview.text=TriviYah!&preview.text_type=custom);
}

body {
	background-color: #CCCCFF;
}

heading {
	display: inline-block;
}

.Logo {
	display: inherit;
	width: 100%;
	margin-top: 2%;
	
	
}

nav {
	display: inline-block;
	font-size: 1.3rem;

	width: auto;
}

.mnav {
	list-style: none;
	width: 30%;

}

li {
margin-left: 20px;

color: white;
font-family: Teko;
}

.usern {
	width: 900px;
	border: 5px solid white;
	background-color: white;
	border-radius: 15px;
	margin: auto;
}

.usenter {
display: block;
width: 20%;
margin-bottom: 20px;
padding: 7px;
border: 5px red;
border-radius: 5px;
box-shadow: 0 0 5px blue;

}

.login {
 font-family: arial;
 color: purple;
}



